.actorCards {
    margin-top: 2%;
}

.actorCards .col-sm-12 {
    margin-bottom: 2%;
}

.actorCards .btn {
    background-color: inherit;
    border: none;
    padding: 12px 16px;
    font-size: 12px;
    cursor: pointer;
}

