.container-fluid {
    margin-top: 1%;
}

.addFunctionality button {
    float: right;
    margin-right: 1%;
}

.movieCards {
    margin-top: 2%;
}

.movieCards .col-sm-12 {
    margin-bottom: 2%;
}

.movieCards .btn {
    background-color: inherit;
    border: none;
    padding: 12px 16px;
    font-size: 12px;
    cursor: pointer;
}

.updateButton {
    color: #009688;
}
.updateButton:hover {
    color: #009688;
}

.deleteButton {
    color: #f44336;
}
.deleteButton:hover {
    color: #f44336;
}

.actors {
    font-weight: 500;
    color: inherit;
}

.genres {
    font-weight: 500;
    color: inherit;
}

/*.card-img-top {
    width: 18rem;
    height: 15rem;

}*/

.actionButtons {
    float: left;
}

.card {
    flex-direction: row;
}

.addFunctionality a {
    color: #fff;
    text-decoration: none;
}

.movieName {
    font-weight: 500;
    font-size: 2rem;
}

.yearOfRelease {
    font-weight: 600;
    font-size: 1rem;
}

.producer {
    font-size: 1rem;
    font-weight: 500;
    color: inherit;
}

.custom-edit-form {
    display: none;
}