.producerCards {
    margin-top: 2%;
}

.producerCards .col-sm-12 {
    margin-bottom: 2%;
}

.producerCards .btn {
    background-color: inherit;
    border: none;
    padding: 12px 16px;
    font-size: 12px;
    cursor: pointer;
}
